<label for="preg" class="rem">Pregunta:</label>
<input type="text" id="preg" name="quiz[pregunta]" value="<%= quiz.pregunta %>"/><p></p>
<label for="resp" class="rem">Respuesta:</label>
<input type="text" id="resp" name="quiz[respuesta]" value="<%= quiz.respuesta %>"/> <p></p>
<label for="indice" class="rem">Indice</label>
<select id="indice" name="quiz[indice]">
	<% for (var i = 0; i < indices.length; i++) { %>
    	<option value="<%= indices[i] %>" <%= quiz.indice === indices[i]?'selected=selected':'' %>><%= indices[i] %></option>
  	<% } %>
</select>
<a href="/quizes"><button type="button">Cancelar</button></a>
<input type="submit" value="Salvar">
